* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  width: 1000px;
  margin: 54px auto 0;
}
 header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
 }
  ul {
    display: flex;
    list-style: none;

  }
